* {
    box-sizing: border-box;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;;
    font-weight: 400;
    text-align: center;
    background-color: #fff;
    line-height: 1.5;
}

/* header styling */
header {
    background-color: darkslategray;
    padding: 0.7em 0;
}

/* intro styling */

section {
    margin: 1em;
    /* Divider styling */
    border-bottom: 4px solid darkslategray;
    padding-bottom: 1.3em;
    margin-bottom: 0;
}

/* headings styling */

h1, h2, legend {
    font-size: 1.1rem;
}

h1 {
    text-transform: uppercase;
    color: #fff;
}

h2, legend {
    color: darkslategray;
    font-weight: 900;
    padding-bottom: 0.6em;
}

legend {
    padding-top: 1.2em;
    /* Divider styling */
    border-top: 2px solid darkslategray;
    width: 100%;
}

/* paragraph and label styling */

p, label {
    color: lightslategray;
    letter-spacing: .02em;
    font-size: 0.9rem;
}

p {
    margin-top: 0px;
}

/* form styling */

form {
    padding: 0px;
    margin: 2px 1em 0;
    background: #fff;
}

form,
form label,
form input,
form textarea,
form legend,
form select {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
textarea, 
select {
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
}

input[type="text"]+label,
input[type="tel"]+label,
input[type="email"]+label,
select+label {
    margin-top: 1.5em;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}

.radio-item, .checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[placeholder] {
    color: lightslategray;
    font-size: 0.7rem;
    font-weight: 300;
    font-style: italic;
    text-align: right;
}

textarea {
    height: 150px;
}

fieldset {
    /* Removing user agent styles from fieldset */
    border: none;
    padding: 0px;
    margin: 0px;
}

ul {
    padding-left: 0px;
}

.contact-info input:last-child {
    width: 50%; /* setting zip code box width */
    margin-bottom: 1.5em;
}

.newsletter-receive ul:last-child {
    margin-bottom: 10px;
}

textarea:focus, input:focus, select:focus {
    background: rgb(197, 217, 224);
    transition: all 0.2s ease;
}

/* button styling */

button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: rgb(52, 177, 164);
    padding: 1em;
    width: 100%;
    border: none;
}

button:hover {
    font-weight: 900;
    background: darkcyan;
    transition: all 0.5s ease;
}

/* footer styling */

footer, footer p {
    background-color: rgb(179, 187, 187); /* Set the background color for sections */
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;
}

footer p {
    font-style: italic;
    color: darkslategray;
}

/* Rounded corners on fields and button */
button, input, textarea, select {
    border-radius: 5px;
}

/* Media query for desktop*/

@media (min-width: 768px) {
    section, form {
        width: 60%;
        max-width: 700px;
        margin: auto;
    }

    h1, h2 {
        font-size: 1.3rem;
    }

    h2 {
        margin: 2em 0 0;
        padding-bottom: 0.2em;
    }

    p {
        font-size: 1rem;
    }

    form {
        margin-top: 1.25px;
    }

    label {
        flex-basis: 25%;
        text-align: left;
        font-size: 0.9rem;
    }

    legend {
        font-size: 1.3rem;
    }

    select {
        font-size: 1rem;
    }

    textarea {
        height: 100px;
        margin-bottom: 20px;
    }

    button {
        margin-bottom: 1.5em;
    }

    input[placeholder] {
        font-size: 0.9rem;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .contact-info input, textarea, select {
        flex-basis: 75%;
        text-align: right;
    }

    .contact-info input:last-child {
        flex-basis: 25%; /* setting zip code box width */
        margin-bottom: 2.25em;
    }

    .newsletter {
        align-items: baseline;
    }

    #other-topics {
        margin-bottom: 20px;
    }
}

